.align-center {
  align-items: center;
}

.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-16 {
  gap: 16px;
}

.grid {
  display: grid;
}

.justify-center {
  justify-content: center;
}
