html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

main {
  padding: 20px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

footer {
  padding-top: 16px;

  color: #48484a;
  font-size: 11px;
  text-align: center;
}

.list > * + * {
  margin-top: 4px;
}
